:root {
    --color-blue: #3609b3;
    --color-gray: #d3d3d3;
    --color-white: #f8f8f8;
}

html {
    background-color: var(--color-gray);
}

.navbar-custom {
    background-color: var(--color-blue);
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.dropdown-menu {
    background-color: var(--color-white);
}

.dropdown-menu a {
    color: var(--color-blue);
}

.nav-link {
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 500;
}

.nav-link:focus,
.nav-link:hover {
    color: #ffffff !important;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 934px; /* Максимальная ширина контейнера */
    padding-left: 100px;
    padding-right: 100px;
}

#inputField {
    width: 100px;
    height: 30px;
    padding: 10px;
    font-size: 12px;
}

.con-fl-bg {
    background-color: var(--color-gray) !important;
}

.con-bg {
    background-color: var(--color-white) !important;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Изменено на auto-fit */
    gap: 10px; /* Уменьшаем расстояние между карточками */
    max-width: 960px; /* Ограничиваем максимальную ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}


.card {
    max-width: 100%; /* Чтобы карточки масштабировались при уменьшении экрана */
}

.card img {
    max-width: 100%; /* Изображения внутри карточек масштабируются по ширине */
    border-radius: 10px 10px 0 0;
}
