{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример сайта</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение пользовательских стилей -->
    <link href="{%static 'style.css' %}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="naver d-flex">
        <!-- Лого и название -->
        <a class="navbar-brand" href="#">
            <h3 style="font-weight: 600; font-size: 24px; letter-spacing: 1px; margin-top: -10px;">Power Fuel</h3>
            <p style="font-weight: 400; font-size: 14px; letter-spacing: 3px; margin-top: -15px; margin-bottom: -5px; color: lightgray;">- be the best</p>
        </a>
        <div class="search-container">
            <input type="text" id="inputField" class="search-input" placeholder="Искать на Power Fuel" oninput="toggleClearButton()">
            <span class="clear-icon" onclick="clearInputField()">&times;</span>
        </div>
        
        

        <!-- Кнопка для мобильных устройств (если нужно) -->
        <button class="navbar-toggler" style="margin-left: 10px; background-color: #ffffff;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Главная -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-house biba"></i>
                        <p class="nav-text">Главная</p>
                    </a>
                </li>
                <!-- Каталог -->
                <li class="nav-item">
                    <a class="nav-link" href="catalog.html">
                        <i class="bi bi-journal-text biba"></i>
                        <p class="nav-text">Каталог</p>
                    </a>
                </li>
                <!-- Профиль -->
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person biba" style="margin-top: -20px; padding-left: 8px;"></i> Профиль
                    </a>
                    <ul class="dropdown-menu" style="margin-top: 10px;" aria-labelledby="navbarDropdown">
                        <!-- Личный кабинет -->
                        <li><a class="dropdown-item" href="profile.html">Личный кабинет</a></li>
                        <div class="dropdown-divider"></div> <!-- Горизонтальная линия -->
                        <!-- Корзина -->
                        <li><a class="dropdown-item" href="#">Корзина</a></li>
                        <div class="dropdown-divider"></div> <!-- Горизонтальная линия -->
                        <!-- Войти -->
                        <li><a class="dropdown-item" href="#">Войти</a></li>
                        <!-- Регистрация -->
                        <li><a class="dropdown-item" href="{% url 'registration' %}">Регистрация</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid con-fl-bg">
    <div class="container con-bg pb-3">
        <a href="catalog.html" style="text-decoration: none; color: var(--color-gray2);">
            <h3 style="padding: 15px 0 0 20px;">Перейти в Каталог
                <i class="bi bi-arrow-right-short" style="margin-left: 0px; margin-top: 0px; font-size: 32px; font-weight: 900"></i>
            </h3>
        </a>
         <div class="cards-container pt-3" id="cardsContainer">
            {% for fuel in fuels %}
            <div class="card">
                <img src="{{ fuel.photo.url }}" alt="{{ fuel.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ fuel.name }}</h5>
                    <p class="card-price">{{ fuel.price|floatformat:0 }} ₽</p>
                    <div class="quantity-container">
                        <input type="number" class="quantity-input" value="1" min="1">
                        <button class="add-to-cart-btn"><i class="bi bi-cart"></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container con-bg mt-3">
    <div class="row">
        <div class="comment-container">
            <div class="comment">Комментарий 1</div>
            <div class="comment">Комментарий 2</div>
            <div class="comment">Комментарий 3</div>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label for="comment">Оставить отзыв:</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

       


<!-- Подключение Bootstrap JS -->
<script src="script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
